{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "react-hooks", "unused-imports"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"next/core-web-vitals"
	],
	"rules": {
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-asserted-optional-chain": "off",
		"@next/next/no-css-tags": "off",
		"react-hooks/exhaustive-deps": "off",
		"react/display-name": "off",
		"@next/next/no-img-element": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"react/no-unescaped-entities": "off",
		"no-extra-semi": "error",
		"no-restricted-imports": [
			"error",
			{
				"patterns": ["@mui/*/*/*"]
			}
		],
		"no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "warn"
	}
}
